.rojo{
    background-color: red;
}
.verde{
    background-color: green;
}
.dorado{
    background-color: goldenrod;
}
.suspenso{
    background-color: red;
}
.Aprobado{
    background-color: green;
}